html {
  font-family: roboto;
  font-weight: 400;
  font-size: 15px;
}

* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  padding-inline-start: 0px;
}

/* OCULTA LA PAGINA EN RESOLUCION MENOR A 320*/
@media (max-width: 319px) {
  body {
    display: none;
  }
}
/* OCULTA LA PAGINA EN RESOLUCION MENOR A 320*/

/*RETINA GRANDE*/
/*BARRA navegacion regional*/
  .navbareg {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 90px;
    padding-right: 60px;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }
  .navbareg ul {
    display: flex;
    justify-content: end;
    padding-right: 30px;
  }
  .navbareg a {
    text-decoration: none;
    color: white;
  }

  .navbareg li {
    padding-right: 20px;
  }
/*BARRA de navegacion regional */

/*BARRA de navegacion principal */
.dropdown {
  display: none;
}
.navbar {
  background-color: rgba(240, 168, 62, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 5px;
  padding-bottom: 24px;
  padding-top: 24px;
  font-size: 0.9rem;
}

.navbar ul {
  display: flex;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
.navbar img{
  margin-top: 3px;
}
.navbar i {
  margin-right: 3px;
  color: white;
}
.navbar li {
  padding-right: 15px;
}
/*BARRA de navegacion principal */

/*SECCION MAIN BANNER */
  .bannerPrincipal {
    background-image: url("../img/banner.png");
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .ctaBanner {
    width: 400px;
    padding-right: 15px;
    text-align: center;
  }
  .ctaBanner H2 {
    margin: auto;
    font-size: 30px;
    background-color: white;
    padding: 10px 0px;
    color: rgba(60, 35, 19, 1);
    font-weight: 400;
    border-radius: 4px;
  }

  .ctaBanner p {
    font-size: 16px;
    color: rgba(60, 35, 19, 1);
    margin: 12px 0px;
  }
  .ctaBanner button {
    background: rgba(240, 168, 62, 1);
    padding: 15px 23px;
    border: 0;
    border-radius: 4px;
    color: white;
  }
/*SECCION MAIN BANNER */

/*SECCION productos */
.menuProductos{
  text-align: center;
  }
  
  .menuProductos i {
    font-size: 70px;
    margin: 20px 0px 5px 0px;
    color: rgba(240, 168, 62, 1);
  }
  
  .menuProductos h1 {
    font-size: 40px;
    color:rgba(60, 35, 19, 1);
  }
  
  .menuProductos ul{
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px 0px 45px 0px;
  }
  
  
  .productList{
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 78px;
  }
  .productList article
  {
    margin: 15px 5px;
  }
  
  .producto{
    background-color: rgba(251, 250, 246, 1);
    text-align: center;
    width: 265px;
    font-size: 15px;
    font-weight: 500 ;
    color: rgba(60, 35, 19, 1);
  }
  .producto img{
    width: 100%;
  }
  
  .producto .precio{
    color:rgba(240, 168, 62, 1) ;
    padding: 10px 0px;
  }
  
  /*SECCION productos */

  /*SECCION del formulario */
  .formulario{
    width: 345px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  .formulario h2{
    font-size: 25px;
  }
  
  .formulario input[type="text"],
  select {
    width: 100%; /* tama単o del los input textos */
    background-color: rgba(60, 35, 19, 1);
    padding: 15px; /* Some padding */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    font-size: 10px;
    display: inline-block;
  }
  
  /* Estilo de los botones */
  input[type="submit"] {
    background-color: rgba(240, 168, 62, 1);
    color: white;
    padding: 9px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  input[type="reset"] {
    background-color: rgba(138, 135, 135, 1);
    color: white;
    padding: 9px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  input::placeholder {
    color: rgb(255, 255, 255);
  }
  
  /*SECCION del formulario */

/*SECCION DEL FOOTER */
  footer {
    margin-top: 25px;
  
  }
  .footersub {
  background-color: rgba(240, 168, 62, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  }
  
  .footersub .fsenun{
    padding-left: 20px;
    display: flex;
    align-items: center;
    color:white;
  }
  .footersub p{
    margin-left:10px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .footersub .fsinp {
  padding-right: 45px;    
  }
  footer input[type="text"],
  select {
    color: rgba(160, 160, 160, 1);
    width: 271px; /* tama単o del los input textos */
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc; /* Gray border */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    font-size: 10px;
    padding: 10px 0px;
  }
  
  footer input[type="submit"] {
    background-color: rgba(60, 35, 19, 1);
    color: white;
    padding-top: 9px;
    padding-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
  }
/*SECCION DEL FOOTER */

/*SECCION DEL FOOTER 2*/
.footer2{
  background-color: rgba(60, 35, 19, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
color: white;
}

.footer2 .info{
  display: flex;
  flex-direction: column;
}

.footer2 article{
  display: flex;
  padding: 15px 0px;
}
/*SECCION DEL FOOTER 2*/

/*---------------------------------------------------------------------------*/
/*RETINA TABLETS*/

/*SECCION NAVBAR*/
@media (max-width:768px){
  .navbar{
    font-size: 0.8rem;
  }
  .navbar img{
    width: 125px;
  }
}
/*SECCION NAVBAR*/

/*SECCION FOOTER*/
@media (max-width:820px){
  footer {
  margin-top: 25px;
  }

  .footersub {
  
    background-color: rgba(240, 168, 62, 1);
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    }
    .footersub .fsenun{
      display: flex;
      align-items: center;
      justify-content: center;
      color:white;
    }
    .footersub p{
      padding-left: 10px;
      font-size: 20px;
      font-weight: 700;
    }

  footer input[type="text"],
  select {
    color: rgba(160, 160, 160, 1);
    width: 261px; /* tama単o del los input textos */
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc; /* Gray border */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    font-size: 10px;
    margin-right: 10px;
    padding:10px 0px
  }
  
  footer input[type="submit"] {
    background-color: rgba(60, 35, 19, 1);
    color: white;
    padding-top: 9px;
    padding-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;

  }

  .footersub .fsinp {
    margin: auto;
    padding-right: 0px;
  }

}
/*SECCION FOOTER  */

/*SECCION FOOTER 2*/
@media (max-width:700px){
  .footer2{
    flex-direction: column;
  }
}

/*SECCION FOOTER 2/*


/*RETINA TABLETS*/
/*-----------------------------------------------------------------------------*/ 

/*RETINA MOVIL*/ 

/*BARRA regional*/
@media (max-width: 480px) {
  .navbareg {
    display: none;
  }
}
/*BARRA regional*/

/*BARRA de navegacion*/
@media (max-width: 580px) {
  .navbar {
    background-color: rgba(240, 168, 62, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding-left: 0px;
  }
  .navbar img {
    margin-top: 0px;
    margin-left: 2em;
    width: 150px;
  }
  .dropbtn {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 13px 0px;
  }

  .dropdown {
    text-align: center;
    width: 100px;
    display: inline-block;

  }

  /* Dropdown contenido (oculto por defecto) */
  .dropdown-content {
    display: none; /*ocultador*/
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0px;
    margin-top: 2px;

}

  /* Links inside the dropdown */
  .dropdown-content a {
    position: relative;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }

  /* cambia el color del dropwdown cuando hover */
  .dropdown-content a:hover {
    background-color: #c5c5c5;
  }

  /*muestra el dropdown menu en hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ffffff00;
  }
  .navbar ul {
    display: none;
  }
}
/*BARRA de navegacion*/

/*SECCION DEL BANNER*/
@media  (max-width: 799px) {
  .bannerPrincipal {
    background-image: url("../img/banner.png");
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ctaBanner {
    width: 300px;
    text-align: right;
  }

  .ctaBanner H2 {
    margin: auto;
    font-size: 25px;
    background-color: white;
    padding: 10px 0px;
    color: rgba(60, 35, 19, 1);
    font-weight: 400;
    border-radius: 4px;
  }

  .ctaBanner p {
    font-size: 16px;
    color: rgba(60, 35, 19, 1);
    margin: 12px 0px;
  }
  .ctaBanner button {
    background: rgba(240, 168, 62, 1);
    padding: 15px 23px;
    border: 0;
    border-radius: 4px;
    color: white;
  }
}
/*SECCION DEL BANNER*/

/*FORMULARIO */
@media (max-width:480px){
.formulario{
width: 298px;
}
}
/*FORMULARIO */


/*SECCION footer*/
@media (max-width:400px){
  footer {
    margin-top: 25px;
    }
    .footersub {
    
      background-color: rgba(240, 168, 62, 1);
      display: flex;
      flex-direction: column;
      }
      .footersub .fsenun{
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
      }
      .footersub p{
        padding-left: 10px;
        font-size: 15px;
        font-weight: 700;
      }
  
  footer input[type="text"],
  select {
    color: rgba(160, 160, 160, 1);
    width: 200px; /* tama単o del los input textos */
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc; /* Gray border */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    font-size: 10px;
    margin-right: 10px;
    padding:10px 0px
  }
  
  footer input[type="submit"] {
    background-color: rgba(60, 35, 19, 1);
    color: white;
padding:5px 3px;
    border-radius: 15px;
    cursor: pointer;
  }
  .footersub .fsinp {
    margin: auto;
    padding-right: 0px;
  }
}


